<div class="lttf-chart">
  <div class="flex">
    <h2>{{this.ruleName}}</h2>
    <LinkTo @route="files" @model={{@rule}}>view files</LinkTo>
  </div>
  <div {{did-insert this.renderChart}}></div>
  <div class="stv-radio-buttons-wrapper">
  	<input type="radio" class="stv-radio-button" name="{{this.guid}}" value="1" id="{{this.guid}}-daily" checked={{eq this.timeSeries "daily"}} {{on "click" (fn this.selectTimeSeries "daily")}}/>
  	<label for="{{this.guid}}-daily">Daily</label>
  	<input type="radio" class="stv-radio-button" name="{{this.guid}}" value="2" id="{{this.guid}}-weekly" checked={{eq this.timeSeries "weekly"}} {{on "click" (fn this.selectTimeSeries "weekly")}}/>
  	<label for="{{this.guid}}-weekly">Weekly</label>
    <input type="radio" class="stv-radio-button" name="{{this.guid}}" value="3" id="{{this.guid}}-monthly" checked={{eq this.timeSeries "monthly"}} {{on "click" (fn this.selectTimeSeries "monthly")}}/>
  	<label for="{{this.guid}}-monthly">Monthly</label>
  </div>
</div>