{{page-title "Rule"}}

<Chart @rule={{@model.rule}} @data={{@model.ruleData}} @highestDate={{@model.highestDate}} @showLink={{false}} />

<h2>Files with {{@model.ruleName}} </h2>
<ul>
  {{#each @model.fileList as |file|}}
    <li data-test-file>{{file}}</li>
  {{/each}}
</ul>
